body {
  /* color: red;
  color:rgb(0,255,0);
  color: #0000ff;
  color: #00f; */
  color: #333;
  font-family: Verdana,sans-serif;
  /* margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin: 0px; */
  margin: 0;

}

header {

  text-align: right;
  padding: 10px;
  background-image: url(../img/header.png);
  height: 240px;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 60px;
}

header ul{
  margin: 0;
  list-style-type: none;
  padding-left: 0;

}

header li {
  display: inline-block;
  /* padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px; */
  padding: 4px 8px;
  font-size: 12px;
}

header li > a {
  text-decoration: none;
  color: inherit;

}

header li > a:hover {
  color: royalblue;
}

.current{
  border-bottom: 4px solid royalblue;
}

section {
  text-align: center;
}

section h1{
  font-weight: normal;
  margin-bottom: 8px;
}

section p{
  margin-top: 0px;
  font-size:14px;
}

.icon {
  /* border-radius: 30px; */
  /* border-radius: 70px; */
  border-radius: 50%;
  /* border-color: white; */
  /*border-width: 5px;
  border-style: solid; */
  border: 5px solid white;
  /* box-shadow: x y blur color */
  box-shadow: 0 0 5px gray;
}

.works{
  width:400px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 60px auto;
  border-bottom: 1px solid gray;

}

.works > section{
  margin-bottom: 40;

}

.works h1{
  text-align: left;
}
.works p{
  text-align: left;
}

footer {
  width:400px;
  margin: 0 auto 60px;

}

footer ul{
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  float:left;


}

footer li {
  display: inline-block;

}

footer li > a:hover {
  opacity:0.6;
}

footer p{
  color: lightgray;
  font-size: 16px;
  text-align: right;
}

.about{
  width: 400px;
  margin: 0 auto 60px;
}

.about p{
  text-align: left;
}
